.button {
  width: 6%;
  padding: 1%;
  color: white;
  border-radius: 111rem;
  border: 3px solid white;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 45%;
  cursor: pointer;
}

@media (min-width: 800px) {
  .button{
    padding: 0.75%;
    left: 45.75%;
  }
}

@media (min-width: 1200px) {
  .button{
    padding: 0.5%;
    left: 46.5%;
  }
}
